@model X.PagedList.IPagedList<PT.Web.Features.Exercises.ExerciseViewModel>

@{
    ViewBag.Title = "Exercises";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>

    @foreach (var exercise in Model)
    {
        <tbody>
            <tr>
                <td>@exercise.Name</td>
                <td>
                    @Html.ActionLink("Edit", "AddEdit", "Exercise", new { id = exercise.Id }) / @Html.ActionLink("Delete", "Delete", new { id = exercise.Id }, new { data_toggle = "confirmation" })
                </td>
            </tr>
        </tbody>
    }
</table>

@Html.ActionLink("Create", "AddEdit", null, null, new { @class = "btn btn-default" })

@section scripts{
    <script src="~/lib/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
    <script src="~/js/bootstrap-init.js"></script>
}