@model List<PT.Web.Features.Workouts.WorkoutViewModel>

@{
    ViewBag.Title = "Scheduled workouts";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
    <tr>
        <th>Day of the week</th>
        <th>Date</th>
        <th>Workout</th>
        <th>Finished</th>
        <th>Actions</th>
    </tr>
    </thead>
    
    @foreach (var workout in Model)
    {
        <tbody>
        <tr>
            <td>@workout.Date.DayOfWeek</td>
            <td>@workout.Date.ToShortDateString()</td>
            <td>@workout.WorkoutType.Name</td>
            <td>
                @if (workout.Finished)
                {
                    @Html.ActionLink("", "SetFinishedIndex", "Workout", new { id = workout.Id, finished = false }, new { @class = "glyphicon glyphicon-thumbs-up", style = "color:green;", title = "Good job!" })
                }
                else
                {
                    @Html.ActionLink("", "SetFinishedIndex", "Workout", new { id = workout.Id, finished = true }, new { @class = "glyphicon glyphicon-calendar", title = "Upcoming" })
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "AddEdit", "Workout", new {id = workout.Id}) / @Html.ActionLink("Delete", "Delete", "Workout", new {id = workout.Id}, new {data_toggle = "confirmation"})
            </td>
        </tr>
        </tbody>
    }
</table>

@Html.ActionLink("Create", "AddEdit", null, null, new { @class = "btn btn-default" })

@section scripts{
    <script src="~/lib/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
    <script src="~/js/bootstrap-init.js"></script>
}