@model PT.Web.Features.Workouts.WorkoutIndexViewModel

@{
    ViewBag.Title = "Scheduled workouts";
    Layout = "_Layout";
}

<h2>Scheduled workouts</h2>

<table class="table">
    <thead>
    <tr>
        <th>Day of the week</th>
        <th>Date</th>
        <th>Workout</th>
        <th>Actions</th>
    </tr>
    </thead>
    
    @foreach (var workout in Model.PagedList)
    {
        <tbody>
        <tr>
            <td>@workout.Date.DayOfWeek</td>
            <td>@workout.Date.ToShortDateString()</td>
            <td>@workout.WorkoutType.Name</td>
            <td>@Html.ActionLink("Edit", "AddEdit", "Workout", new { id = workout.Id }) / @Html.ActionLink("Delete", "Delete", "Workout", new {id=workout.Id})</td>
            <td></td>
        </tr>
        </tbody>
    }
</table>

@Html.ActionLink("Create", "AddEdit", null, null, new { @class = "btn btn-default" })